ul{
        padding: 0;
}
/* section one "slider"*/
.slider-block{
        width: 100%;
        background-color: #EEE4DB;
        position: relative;
        
        
}
.slide-image{
        
        
}

.slider-title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 110%;

/* or 44px */

        color: #1E0606;
}

.slider-text{
        font-family: Crimson Text;
        font-style: italic;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;

        color: #1E0606;


}

.slider-navigation{
        display: flex;
        flex-direction: column;
}

.slide-buttons{
        display: flex;
        flex-direction: column;
        
}

        


.slide-button{
        padding: 0;
        
        width: 31px;
        height: 3px;
        background-color: rgba(30, 6, 6, 0.12);
        margin-bottom: 11px;
        
}

/* button style*/
.link-button{
        display: block;
        
        width: 141px;
        height: 31px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 30px;

        /* identical to box height */
        text-align: center;

        color: #FFFFFF;
        background: #1E0606;
}

.under-slider-text{
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
        background: #C29974;
}
/* section two "category product"*/

.products-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        
}
.products-item{
        display: block;
        
        padding: 0;
        
}
.products-button{
        display: block;
        box-sizing: border-box;
        
        width: 280px;
        height: 270px;
        background-color: grey;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 109.7%;

/* or 29px */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;

text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.left-arrow{
        width: 37px;
        height: 37px;
        background-image: url(/images/arrow_left.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(112, 187, 220, 0.2);
        margin-right: 6px;
}
.right-arrow{
        width: 37px;
        height: 37px;
        background-image: url(/images/arrow_right.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(112, 187, 220, 0.2);
}

.product-text{
        margin: 0;
        margin-left: 20px;
}

.products-navigation{
        display: flex;
        flex-direction: row;
}
        
}

.apparel-kids{
        background-image: url(/images/fon1.png);
        background-position: center;
        background-repeat: no-repeat;
}
.holiday-shop{
        background-color: #eaddd3;
        background-image: url(/images/image16.png);
        background-position: center;
        background-repeat: no-repeat;
}
.toys{
        background-color: #f8f2da;
        background-image: url(/images/fon.png);
        background-position: center;
        background-repeat: no-repeat;
}
.accessories{
        background-color: #d5d4e1;
        background-image: url(/images/image18.png);
        background-position: center;
        background-repeat: no-repeat;
}

/*        Section three "delivery"*/
.delivery{
        display: flex;
        flex-direction: row;
}

.delivery-article{
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        
}


.delivery-button{
        font-family: Crimson Text;
font-style: italic;
font-weight: normal;
font-size: 26px;
line-height: 32px;



/* identical to box height */

color: #1E0606;
border: none;
background-color: white;

}

.delivery-button:hover{
        
        font-weight: bold;
        background-color: rgba(112, 187, 220, 0.2);
}

/*   section four "partners"*/

.partners-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

}

.hidden{
        display: none;
}

/* section five "about"*/

.about-us{
        display: flex;
        flex-direction: row;
        
}

.italic-title{
       
font-family: Crimson Text;
font-style: italic;
font-weight: normal;
font-size: 26px;
line-height: 32px;

/* identical to box height */

color: #1E0606; 
margin: 0;
padding: 0;
}

.buy-now-article{}

.main-title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 130%;
        
        /* identical to box height, or 49px */
        text-transform: uppercase;
        
        color: #1E0606; 
        margin-bottom: -25px;
        margin-left: 25px;
}

.article-background{
        box-sizing: border-box;
        width: 542px;
        height: 237px;
        padding: 30px;
        background-color: #E1F0F7;
}

.about-us-text{
        margin-top: 10px;
}
.buy_now_button{

}

.contacts-title{
        margin-bottom: -25px;
        margin-left: 25px; 
        padding: 0;
}
.contacts-article-text{
        margin-top: 10px; 
}

.contacts-article{
        margin-left: 59px;
        margin-top: 5px;
}